.row
  .col-xs-12.col-sm-6.col-md-4.col-md-offset-2
    form
      div.form-group(*ngIf="(authService.userObservable | async)?.uid")
        label(for="name") Name
        input.form-control([(ngModel)]="code.name", name="name",  placeholder="Code name", [ngModelOptions]="{standalone: true}")
    div.btn-group.form-group( dropdown )
      button.btn.btn-primary.dropdown-toggle.form-control( dropdownToggle type="button" ) {{activeType || 'Select code type'}}
         span.caret
      ul.dropdown-menu( *dropdownMenu role="menu" )
        li(*ngFor="let type of codeTypes", role="menuitem")
          a.dropdown-item((click)="selectForm(type)") {{typesMap[type]}}
    ui-view      
    code-options([code]="code")
  .col-xs-12.col-sm-6.col-md-4
    display-code([code]="code")
    .form-group
      button.btn.btn-success(*ngIf="(authService.userObservable | async)?.uid", (click)="saveCode()") Save code
      export-code([code]="code")
