form([formGroup]="form", novalidate)
  div.form-group([ngClass]="{'has-error': errors.length, 'has-success': form.controls.string.valid}")
    label Text
    textarea.form-control(type="text", name="string", formControlName="string" placeholder="qrdinger")
    span.help-block( *ngFor="let err of errors") {{err.message}}
