
<form [formGroup]="form" novalidate>
  <div class="form-group" [ngClass]="{'has-error': numberErrors.length, 'has-warning': numberWarns.length, 'has-success': form.controls.number.valid}">
    <label>Number</label>
    <input class="form-control" type="text" name="number" placeholder="+0(00)00-00-000" (keypress)="preventCharInput($event)" (paste)="filterPaste($event)" formControlName="number"><span class="help-block" *ngFor="let err of numberErrors">{{err.message}}</span><span class="help-block" *ngFor="let err of numberWarns">{{err.message}}</span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': messageErrors.length, 'has-warning': messageWarns.length, 'has-success': form.controls.message.valid}">
    <label>Message</label>
    <textarea class="form-control" type="text" name="message" placeholder="Hello friend!" formControlName="message"></textarea><span class="help-block" *ngFor="let err of messageErrors">{{err.message}}</span><span class="help-block" *ngFor="let err of messageWarns">{{err.message}}</span>
  </div>
</form>