doctype html
html
  head
    base(href='/')
    title Angular With Webpack
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="http://cdn.auth0.com/js/auth0/8.5/auth0.min.js")
  body
    ui-view Loading...
