doctype html
html
  head
    base(href='/')
    title Qrdinger
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style(type='text/css').
      * {
        box-sizing: border-box;
      }
      body{
        font-size: 14px;
      }
      .main-loader{    
        position:fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      .main-loader .loader {
        width: 1.5em;
        height: 1.5em;
        margin: 0 auto;
        background: #26547C;
        font-size: 3em;
        padding: 0.25em;
        border-radius: .15em;
      }
      .line {
        animation: expand 1s ease-in-out infinite;
        border-radius: .075em;
        display: block;
        float: left;
        margin: 0 .05em;
        width: .15em;
        height: 1em;
      }
      .line {
        background: #fff;
      }
      .line:nth-child(2) {
        animation-delay: 180ms;
      }
      .line:nth-child(3) {
        animation-delay: 360ms;
      }
      .line:nth-child(4) {
        animation-delay: 540ms;
      }
      @keyframes expand {
        0% {
          transform: scale(1);
        }
        25% {
          transform: scale(.5);
        }
      }
  body
    ui-view
      div.main-loader
        div.loader
          div.line
          div.line
          div.line
          div.line
