//colors
@main: #26547C;
@success: #06D6A0;
@error: #EF476F;
@attension: #FFD166;
@background: #FCFCFC;
@text: #191923;

@button-transition: {
  transition: all 120ms ease-in;
};


body {
  padding-top: 50px;
  background-color: @background;
  color: @text;
}

.mt{
  &-5{
    margin-top: 5px;
  }
  &-10{
    margin-top: 10px;
  }
  &-20{
    margin-top: 20px;
  }
}
.navbar{
  background-color: transparent;
  &-collapse{
    overflow: hidden;
  }
  &_link{
    color: @main;
    &:hover{
      background: transparent !important;
      text-decoration: underline !important;
    }
  }
  .icon-bar{
    background-color: @background;
  }
  &-toggle{
    span{
      @button-transition();
    }
    &.collapsed{
      span:nth-child(2){
        transform: rotate(0) translate(0,0);
      }
      span:nth-child(3){
        opacity: 1;
      }
      span:nth-child(4){
        transform: rotate(0) translate(0,0);
      }
    }
    span:nth-child(2){
      transform: rotate(45deg) translate(5px,5px);
    }
    span:nth-child(3){
      opacity: 0;
    }
    span:nth-child(4){
      transform: rotate(-45deg) translate(3px,-4px);
    }
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
      height: auto !important;
  }
}
