h2 Welcome to Qrdinger.
p.lead You can 
  a(uiSref='edit' , [uiOptions]="{ inherit: false }") generate qr-code
  |, export it in some formats, and keep it here for later edit, if you 
  a(uiSref='register') register
  |.
