div.container
  div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    form([formGroup]="form", [ngClass]="{'has-error':errorMessage && errorMessage.type==='error'}", novalidate)
      h3 Log In
      hr
      div.form-group
        label( for="email" ) Mail
        input.form-control( type="email", name="email", id="email", formControlName="email" , placeholder="main@gqrdinder.com")
      div.form-group
        label( for="password" ) Password
        input.form-control( type="password", name="password", formControlName="password" )
      div.form-group.clearfix
        button.btn.btn-primary.mb-10.pull-left( type="button", [disabled]="authenticating || !form.valid", (click)="login()" )
          i.fa.fa-spin.fa-spinner( *ngIf="authenticating" ) 
          span Log in
        a.btn.btn-default.mb-10.ml-10.pull-right( uiSref="register" )
          span Register
        a.btn.btn-default.pull-right( uiSref="forgot-pass" )
          span Reset password
      div.form-group  
        span.help-block(*ngIf="errorMessage") {{errorMessage.message}}
