
<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <h3>Log In</h3>
    <p>This login screen is for demonstration only... just pick a username, enter 'password' and click <b> </b>"Log in"</p>
    <hr>
    <div>
      <label for="username">Username
        <input class="form-control" type="text" name="username" id="username" [(ngModel)]="credentials.username">
      </label>
    </div><br>
    <div>
      <label for="password">Password
        <input class="form-control" type="password" name="password" [(ngModel)]="credentials.password">
      </label>
    </div>
    <div>
      <button class="btn btn-primary" type="button" [disabled]="authenticating" (click)="login(credentials)"><i class="fa fa-spin fa-spinner" *ngIf="authenticating"> </i><span>Log in</span></button>
    </div>
  </div>
</div>