form
  input(type="range", name="level", min="0", max="4", [(ngModel)]="level", (ngModelChange)="updateOptions()")
  input(type="color", name="foreground", [(ngModel)]="options.foreground", (ngModelChange)="updateOptions()")
  input(type="color", name="background", [(ngModel)]="options.background", (ngModelChange)="updateOptions()")
