form([formGroup]="commonOptionsForm", novalidate)
  div.form-group
    label Error correction level - {{'L' || options.level}}
    input.form-control(type="range", name="level", min="0", max="4", value = "0", formControlName="level")
  div.form-group
    label Foreground color
    input.form-control(type="color", name="foreground", value="#000000", formControlName="foreground")
  div.form-group
    label Background color
    input.form-control(type="color", name="background", value="#ffffff", formControlName="background")
