.row
  .col-xs-4
    display-code( [code]="code" )
  .col-xs-6
    h4.text-overflow.mt-5
      a( uiSref="edit",  [uiParams]="{ codeId: code.id }") {{code.name}}
        i.icon-pencil
  .col-xs-2
    p.code-type.pull-right(*ngIf="code.type") {{code.type}}
  .col-xs-8
    button.pull-right.btn.ml-5.btn-danger((click)="delete()")
      i.icon-trash-empty
    export-code.pull-right
.row(*ngIf="code.value")
  .col-xs-12
    p.bg-info.text-overflow.mt-10.mb-0  {{code.value}}
