.col-xs-12.col-sm-4
  display-code( [code]="code" )
.col-xs-12.col-sm-8
  h4 
    a( uiSref="edit",  [uiParams]="{ codeId: code.id }") {{code.name}}
  h5 {{code.type}}
.col-xs-12
  button.btn.btn-primary Edit
  button.btn.btn-primary Save as
