nav.navbar.navbar-fixed-top
  div.container
    div.navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar",[ngClass]="{'collapsed': isCollapsed()}", (click)="toggleMenu()")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.navbar_link(uiSref="home") Qrdinger
    div#navbar.navbar-collapse(aria-expanded="false", [@slideInOut]="isCollapsed()")
      ul.nav.navbar-nav
        li
          a.navbar_link(uiSref='codes-list') Codes
        li
          a.navbar_link(uiSref='createCode') Add code
div.container.mt-20
  ui-view
