form
  label(for="name") name
  input(id="name" type="text")
  label(for="customUrl") custom url
  input(id="customUrl" type="checkbox")
  label(for="type") type
  select(id="type")
    option table
    option image
    option text
    option url
