.col-xs-12.col-sm-4
  display-code( [codeOptions]="codeOptions" )
.col-xs-12.col-sm-8
  h4 
    a( uiSref="code",  [uiParams]="{ codeId: code.id }" ) {{code.name}}
  h5 {{code.type}}
.col-xs-12
  button.btn.btn-primary Edit
  button.btn.btn-primary Save as
