div.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
  form([formGroup]="form", novalidate)
    div.form-group([ngClass]="{'has-error': emailErrors.length, 'has-warning': emailWarns.length, 'has-success': form.controls.email.valid}")
      label Email
      input.form-control(type="email", name="email", formControlName="email")
      span.help-block( *ngFor="let err of emailErrors") {{err.message}}
      span.help-block( *ngFor="let err of emailWarns") {{err.message}}
    div.form-group([ngClass]="{'has-error': passwordErrors.length || passwordConfirmErrors.length, 'has-warning': passwordWarns.length || passwordConfirmWarns.legnth, 'has-success': form.controls.password.valid}")
      label Password
      input.form-control(type="password", name="password", formControlName="password")
      span.help-block( *ngFor="let err of passwordErrors") {{err.message}}
      span.help-block( *ngFor="let err of passwordWarns") {{err.message}}
    div.form-group([ngClass]="{'has-error': passwordErrors.length || passwordConfirmErrors.length, 'has-warning': passwordWarns.length || passwordConfirmWarns.legnth, 'has-success': form.controls.password.valid}")
      label Confirm password
      input.form-control(type="password", name="passwordConfirm", formControlName="passwordConfirm")
      span.help-block( *ngFor="let err of passwordConfirmErrors") {{err.message}}
      span.help-block( *ngFor="let err of passwordConfirmWarns") {{err.message}}
    div.form-group
      button.btn.btn-primary(type='button' [disabled]="authenticating || !form.valid", (click)="register()") Register
