form([formGroup]="form")
  div.form-group([ngClass]="{'has-error': typeErrors.length, 'has-success': form.controls.name.valid}")
    label Encryption
    select.form-control(name="name", formControlName="networkType" novalidate)
      option(value="WPA") WPA/WPA2
      option(value="WEP") WEP
      option(value="nopass") No encryption
    span.help-block( *ngFor="let err of typeErrors") {{err.message}}
  div.checkbox
    label
      input(type="checkbox" name='hidden' formControlName="hidden" novalidate)
      | Hidden network
  div.form-group([ngClass]="{'has-error': nameErrors.length, 'has-warning': nameWarns.length, 'has-success': form.controls.name.valid}")
    label Network name
    input.form-control(type="text", name="name", formControlName="name" novalidate placeholder="myWiFi")
    span.help-block( *ngFor="let err of nameErrors") {{err.message}}
    span.help-block( *ngFor="let err of nameWarns") {{err.message}}
  div.form-group([ngClass]="{'has-error': passErrors.length, 'has-warning': passWarns.length, 'has-success': form.controls.pass.valid}")
    label Network password
    input.form-control(type="text", name="pass", formControlName="pass" novalidate)
    span.help-block( *ngFor="let err of passErrors") {{err.message}}
    span.help-block( *ngFor="let err of passWarns") {{err.message}}
