form
  div.form-group([ngClass]="{'has-error': urlErrors.length, 'has-warning': urlWarns.length, 'has-success': url.valid}")
    label Link
    input.form-control(type="text", name="url", [formControl]="url" novalidate placeholder="http://qrdinger.com")
    span.help-block( *ngFor="let err of urlErrors") {{err.message}}
    span.help-block( *ngFor="let err of urlWarns") {{err.message}}
