form
  div.form-group
    label Link
    input.form-control(type="text", name="url", [formControl]="url" novalidate placeholder="http://qrdinger.com")
    ul.errors
      li( *ngFor="let err of urlErrors") {{err.message}}
