nav.navbar.navbar-fixed-top
  div.container
    div.navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar",[ngClass]="{'collapsed': isCollapsed()}", (click)="toggleMenu()")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.navbar_link(uiSref="home") Qrdinger
    div#navbar.navbar-collapse(aria-expanded="false", [@slideInOut]="isCollapsed()")
      ul.nav.navbar-nav
        li
          a.navbar_link(uiSref='codes', *ngIf="(authService.userObservable | async)?.uid", uiSrefActive="active", (click)="hideMenu()") Codes
        li
          a.navbar_link(uiSref='edit' , [uiParams]="{}", [uiOptions]="{ inherit: false }", uiSrefActive="active", (click)="hideMenu()") Add code
      ul.nav.navbar-nav.navbar-right
        li
          a.navbar_link( *ngIf="!(authService.userObservable | async)?.uid" uiSref="login", uiSrefActive="active", (click)="hideMenu()") Log In
        li
          a.navbar_link( *ngIf="(authService.userObservable | async)?.uid", (click)="authService.logout(); hideMenu();") Log Out
div.container.mt-20
  ui-view
